/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define DEF 0
#define RUS 1
#define SYM 2
#define ARR 3
#define NUM 4
#define BT 5
#define FF 6

/ {
    chosen { zmk,matrix_transform = &five_column_transform; };

    macros {
        macro_rus: macro_rus {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(SPACE) &tog RUS>;
        };

        th_macro: th_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp T &kp H>;
        };

        tion_macro: tion_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp T &kp I &kp O &kp N>;
            label = "TION_MACRO";
        };

        ing_macro: ing_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp I &kp N &kp G>;
            label = "ING_MACRO";
        };
    };

    combos {
        compatible = "zmk,combos";

        // POINT FINGERS - HIGH ROW = Caps Word (Turns off on Space)

        combo_caps_word {
            timeout-ms = <65>;
            key-positions = <13 16>;
            bindings = <&caps_word>;
        };

        // POINT FINGERS = Hard Caps Lock (Traditional Toggle)

        combo_caps_lock {
            timeout-ms = <65>;
            key-positions = <3 6>;
            bindings = <&kp CAPS>;
        };

        // Toggle BT-Layer by pressing both inner thumbs (32 and 33)

        combo_bt_layer {
            timeout-ms = <50>;
            key-positions = <32 33>;
            bindings = <&mo BT>;
        };

        // Toggle RUS-Layer by CLICKING both outer thumbs (30 and 35)

        combo_rus {
            timeout-ms = <50>;
            key-positions = <0 9>;
            bindings = <&macro_rus>;
            layers = <DEF RUS>;
        };

        // Parentheses
        // Square Brackets
        // Curly Brackets
        // Word macros
    };

    behaviors {
        esc_cmd: esc_cmd {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <150>;

            // quick-tap-ms = <125>;
            // hold-trigger-on-release;

            bindings = <&kp>, <&kp>;
        };

        // Refined Home Row Shift
        // require-prior-idle-ms ensures no accidental shifts while typing fast.

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;

            // require-prior-idle-ms = <150>; // remove since blocks me from immediate trigger shift after BSPC
        };

        // Модификаторы для ЛЕВОЙ руки (включаются, только если нажата кнопка СПРАВА)

        hm_l: homerow_mods_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            flavor = "tap-preferred";
            hold-trigger-on-release;

            // Индексы всех кнопок правой половины (включая большие пальцы)

            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 25 26 27 28 29 33 34 35>;
            bindings = <&kp>, <&kp>;
        };

        // Модификаторы для ПРАВОЙ руки (включаются, только если нажата кнопка СЛЕВА)

        hm_r: homerow_mods_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            flavor = "tap-preferred";
            hold-trigger-on-release;

            // Индексы всех кнопок левой половины (включая большие пальцы)

            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 30 31 32>;
            bindings = <&kp>, <&kp>;
        };

        lt_fast: fast_layer_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";       // Triggers 'hold' if another key is pressed
            tapping-term-ms = <150>;    // Lower term for faster response
            quick-tap-ms = <140>;       // Allows for tap repetition
            bindings = <&mo>, <&kp>;
        };

        lt_space: slower_space_layer_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";       // Triggers 'hold' if another key is pressed
            quick-tap-ms = <140>;       // Allows for tap repetition
            bindings = <&mo>, <&kp>;

            // retro-tap;                // If the user held the key past the tapping term but never pressed any other keys, send the tap action (Space) when they finally release it."
            tapping-term-ms = <175>;
        };

        // not using - but can in future - CMD as a tap == CMD + TAB

        cmd_tab: cmd_tab {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <150>;
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "DEF";
            bindings = <
  &kp Q  &kp W         &kp C              &kp R         &kp K               &kp Y               &kp U                &kp I         &kp O         &kp P
  &kp A  &kp S  &kp D       &hm LSHIFT F  &kp G         &kp H               &hm RSHIFT E         &kp RGUI T  &kp RALT L  &hm RCTRL SEMI
  &kp Z  &kp X         &kp J              &kp V         &kp B               &kp N               &kp M                &kp COMMA     &kp PERIOD    &kp FSLH
                       &esc_cmd LALT ESC  &kp LGUI      &lt_fast SYM TAB    &lt_fast ARR ENTER  &lt_space NUM SPACE  &lt FF BSPC
            >;
        };

        rus_layer {
            display-name = "RUS";
            bindings = <
  &kp Q  &kp W  &kp E              &kp R         &kp T               &kp Y               &kp U               &kp I        &kp O       &kp P
  &kp A  &kp S  &kp D              &hm LSHIFT F  &kp G               &kp H               &hm RSHIFT J        &kp K        &kp L       &hm RCTRL SEMI
  &kp Z  &kp X  &kp C              &kp V         &kp B               &kp N               &kp M               &kp COMMA    &kp PERIOD  &kp FSLH
                &esc_cmd LALT ESC  &kp LGUI      &lt_fast SYM TAB    &lt_fast ARR ENTER  &lt_fast NUM SPACE  &lt FF BSPC
            >;
        };

        // 1: SYM
        //  & *               ` ' " ? ~
        //  $ % ^             | + - = : p
        //  ! @ #             \ _ < > ?

        brackets_layer {
            display-name = "SYM";
            bindings = <
  &none  &kp AMPS  &kp ASTRK  &none      &none     &kp GRAVE      &kp SQT    &kp DQT    &kp EXCL   &kp TILDE
  &none  &kp DLLR  &kp PRCNT  &kp CARET  &none     &kp PIPE       &kp PLUS   &kp MINUS  &kp EQUAL  &kp COLON
  &none  &kp EXCL  &kp AT     &kp HASH   &none     &kp BACKSLASH  &kp UNDER  &kp LT     &kp GT     &kp QUESTION
                   &trans     &trans     &trans    &trans         &trans     &trans
            >;
        };

        //  2: ARR

        nav_layer {
            display-name = "ARR";
            bindings = <
  &trans  &trans  &trans  &trans  &trans    &kp PG_UP  &kp LA(LEFT)  &kp UP    &kp LA(RIGHT)  &none
  &trans  &trans  &trans  &trans  &trans    &none      &kp LEFT      &kp DOWN  &kp RIGHT      &trans
  &trans  &trans  &trans  &trans  &trans    &kp PG_DN  &kp HOME      &none     &kp END        &none
                  &trans  &trans  &trans    &trans     &trans        &trans
            >;
        };

        // 3: NUM  LPAR RPAR LBKT RBKT LBRC RBRC

        numpad_layer {
            display-name = "NUM";
            bindings = <
  &trans  &kp LPAR  &kp RPAR  &trans  &trans    &none   &kp N7  &kp N8  &kp N9  &none
  &trans  &kp LBKT  &kp RBKT  &trans  &trans    &none   &kp N4  &kp N5  &kp N6  &kp N0
  &trans  &kp LBRC  &kp RBRC  &trans  &trans    &none   &kp N1  &kp N2  &kp N3  &none
                    &trans    &trans  &trans    &trans  &trans  &trans
            >;
        };

        // 4: BT

        symbol_layer {
            display-name = "BT";
            bindings = <
  &bt BT_CLR  &trans  &trans  &trans  &trans    &trans  &trans        &trans        &trans        &trans
  &trans      &trans  &trans  &trans  &trans    &trans  &bt BT_SEL 3  &bt BT_SEL 4  &trans        &trans
  &trans      &trans  &trans  &trans  &trans    &trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &trans
                      &trans  &trans  &trans    &trans  &trans        &trans
            >;
        };

        // Layer 5: FF

        f_layer {
            display-name = "FF";
            bindings = <
  &trans  &trans  &trans  &trans  &trans    &kp F12  &kp F7  &kp F8  &kp F9  &none
  &trans  &trans  &trans  &trans  &trans    &kp F11  &kp F4  &kp F5  &kp F6  &none
  &trans  &trans  &trans  &trans  &trans    &kp F10  &kp F1  &kp F2  &kp F3  &none
                  &trans  &trans  &trans    &trans   &trans  &trans
            >;
        };
    };
};
